@import "/src/scss/vars.scss";
@import "/src/scss/mixins.scss";
@import "/src/scss/templates.scss";

._ {
  @extend %template-container;
}

.wrapper {
  margin-top: 65px;

  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

  @media (max-width: $width-mobile) {
    display: flex;
    flex-direction: column;
  }
}

.image {
  max-height: 700px;
  @media (max-width: $width-mobile) {
    max-height: 300px;
  }
}

.productInfo {
  @media (max-width: $width-mobile) {
    .sizeBlock {
      display: none;
    }
  }
}

.title {
  font-weight: 800;
  font-size: 40px;
  line-height: 45px;

  @media (max-width: $width-tablet) {
    font-size: 16px;
    line-height: 21px;
  }
}

.sizeBlock {
  margin-top: 10px;

  display: flex;
  align-items: center;
  gap: 5px;

  .size {
    font-size: 12px;
    line-height: 16px;
  }
}

.descriptionBlock {
  margin-top: 35px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.descriptionItem {
  line-height: 21px;

  .descriptionTitle {
    color: $color-2;
    font-weight: 300;
  }
  .content {
    font-weight: 500;
  }
}

.actionsBlock {
  display: grid;
  gap: 10px;
  justify-content: start;
  align-content: center;
  grid-template-areas:
    "price price price increaseBlock increaseBlock increaseBlock addToBassket addToBassket . "
    "share promo promo promo promo promo promo download download";

  @media (max-width: $width-mobile) {
    grid-template-areas:
      "price increaseBlock increaseBlock"
      "addToBassket addToBassket share"
      "basket basket share"
      "promo promo promo"
      "download download download";
    justify-content: start;
    row-gap: 20px;

    margin-top: 20px;
  }
}
.price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 30px;
  line-height: 39px;
  white-space: nowrap;

  grid-area: price;

  @media (max-width: $width-mobile) {
    font-size: 20px;
    line-height: 26px;
  }
}

.increaseAndDecreaseBlock {
  font-weight: 500;
  color: $color-2;

  display: flex;
  align-items: center;
  gap: 20px;

  grid-area: increaseBlock;
}
.actionButton {
  padding: 4px 14px;
  background-color: $color-10;
  border-radius: 36px;
}
.count {
}
.addToBasketButton {
  @include button(21px 39.5px, 12px, $color-9, $color-6);

  grid-area: addToBassket;
}
.share {
  min-width: 77px;
  height: 77px;

  display: flex;
  align-items: center;
  justify-content: center;

  @extend %template-box-shadow;

  grid-area: share;
}
.promo {
  width: 305px;
  padding: 20.5px 30.5px;

  color: $color-2;
  font-size: 12px;
  line-height: 18px;
  text-align: center;

  @extend %template-box-shadow;

  grid-area: promo;
}

.download {
  padding: 30px 37.5px;
  width: 261px;

  @extend %template-box-shadow;

  grid-area: download;

  @media (max-width: $width-mobile) {
    width: 100%;
  }
}
