@import "/src/scss/vars.scss";
@import "/src/scss/templates.scss";
@import "/src/scss/mixins.scss";

._ {
  margin-top: 100px;
  padding: 71px 0 116px 0;

  color: $color-9;
  background-color: $color-2;

  @media (max-width: $width-mobile) {
    padding: 15px 0;
  }
}

.wrapper {
  @extend %template-container;

  display: flex;
  justify-content: space-between;

  @media (max-width: $width-mobile) {
    display: grid;
    justify-content: space-between;
    justify-self: center;
    row-gap: 30px;
    grid-template-areas:
      "PRO PRO"
      "MNU CTG"
      "CNT MSG";
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 25px;

  @media (max-width: $width-mobile) {
    gap: 20px;
  }

  .title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
  }

  .itemsList {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: $width-mobile) {
      font-size: 12px;
    }
  }

  .item {
    line-height: 21px;
    color: $color-9;
  }
}

.messagersBlock {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (max-width: $width-mobile) {
    margin-top: 20px;
  }

  .downloadButton {
    @include button(20px 51px, 5px, $color-9, $color-5);

    @media (max-width: $width-mobile) {
      display: none;
    }
  }

  .title {
    @media (max-width: $width-mobile) {
      display: none;
    }
  }
}

.linksWrapper {
  display: flex;
  gap: 10px;
}

.promoBlock {
  grid-area: PRO;

  .inputButton {
    @include button-icon(39px, $color-9, $color-5);
  }

  .firtsRow {
    display: flex;
    justify-content: space-between;

    .downloadButton {
      display: none;

      @media (max-width: $width-mobile) {
        display: flex;
      }
    }
  }

  .storeDescription {
    margin-top: 15px;
    max-width: 320px;

    @media (max-width: $width-mobile) {
      margin: 0;
      gap: 15px;
      max-width: 100%;
    }
  }
  .subscription {
    .input {
      margin-top: 15px;
      max-width: 282px;

      @media (max-width: $width-mobile) {
        max-width: 100%;
      }
    }
  }

  .logo {
    @media (max-width: $width-mobile) {
      width: 97px;
    }
  }
}

.downloadButton {
  @include button(20px 51px, 5px, $color-9, $color-5);
}

.menuBlock {
  grid-area: MNU;
}

.categoryBlock {
  grid-area: CTG;
}

.messagersBlock {
  grid-area: MSG;
}

.contactsBlock {
  grid-area: CNT;
  .contact {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .subtitle {
      font-weight: 600;
    }
    .description {
      font-size: 12px;
    }
    .link {
      color: $color-9;
      font-size: 10px;
      text-decoration: underline;
    }
  }
}
