@import "/src/scss/vars.scss";
@import "/src/scss/mixins.scss";

.breadcrumbs {
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 17px;
  font-weight: 300px;

  @include delimitedRowList(20px, 16px);

  margin-top: 45px;

  @media (max-height: $width-mobile) {
    display: none;
  }
}

.crumb {
  color: $color-2;

  &_last {
    opacity: 0.5;
  }
}

.goBackButton {
  display: none;

  @media (max-width: $width-mobile) {
    margin-top: 20px;
    
    display: flex;
    align-items: center;
    gap: 5px;

    color: $color-2;
    font-size: 10px;
    font-weight: 600;

    .icon {
      @include button-icon(32px, $color-2, $color-10);
    }
  }
}
