@import "/src/scss/vars.scss";
@import "/src/scss/mixins.scss";
@import "/src/scss/templates.scss";

._ {
  @extend %template-container;
  min-height: 60vh;
}

.modal {
  border-radius: 8px;
  padding: 115px 106px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  position: relative;

  @extend %template-box-shadow;

  .modalIcon {
    background-color: $color-5;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    padding: 17.5px;
  }
  .modalTitle {
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
  }
  .modalSubtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    color: $color-2;
  }
  .modalCloseButton {
    fill: $color-5;
    stroke: $color-5;
    position: absolute;
    top: 30px;
    right: 30px;
  }
}

.title {
  margin-top: 50px;
  font-size: 40px;
  line-height: 48px;
  font-weight: 500;

  @media (max-width: $width-mobile) {
    font-size: 20px;
    line-height: 24px;
  }
}

.emptyBasket {
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
}

.itemsList {
  margin-top: 50px;
}

.sumPriceBlock {
  padding-top: 50px;

  display: grid;
  grid-template-areas: "placeAnOrderButton sumPrice";
  justify-content: space-between;

  position: relative;

  @media (max-width: $width-mobile) {
    padding-top: 25px;
    height: auto;
    flex-direction: column;
    gap: 25px;
    grid-template-areas: "sumPrice" "placeAnOrderButton";
    justify-content: center;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px dotted $color-2;
    opacity: 0.2;
  }
}

.placeAnOrderButton {
  @include button(21px 37.5px, 0, $color-9, $color-6);

  line-height: 17px;
  font-weight: 700;

  grid-area: placeAnOrderButton;
}

.sumPrice {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;

  grid-area: sumPrice;
  text-align: center;
}
