@import "/src/scss/vars.scss";

._ {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.nothingFound {
  margin-top: 40px;
  text-align: center;
}

.listWrapper {
  width: 1020px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 21px;

  @media (max-width: $width-container) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $width-mobile) {
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
  }
}
