@import "/src/scss/vars.scss";

._ {
  display: flex;
  align-items: center;
  gap: 28px;
}

.buttonBasket {
  position: relative;

  display: flex;
  align-items: center;

  .icon {
    @media (max-width: $width-mobile) {
      width: 25px;
    }
  }
}

.goodsCount {
  position: absolute;
  top: 0;
  right: -18%;

  width: 26px;
  height: 26px;

  display: none;

  background-color: $color-6;

  border-radius: 100%;
  border: 3px solid $color-9;

  font-size: 14px;
  font-weight: 700;
  color: $color-9;

  &_visible {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: $width-mobile) {
    width: 25px;
    height: 25px;

    font-size: 14px;
    font-weight: 600;
    color: $color-9;

    top: 0;
    right: -50%;
  }
}

.description {
  display: flex;
  flex-direction: column;

  @media (max-width: $width-tablet) {
    display: none;
  }
}

.title {
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: $color-2;
}

.sum {
  font-weight: 600;
}
