@import "/src/scss/vars.scss";
@import "/src/scss/templates.scss";

._ {
  z-index: 10;
  @extend %template-container;
}

.firstRow {
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid rgba(63, 78, 101, 0.2);
}

.secondRow {
  height: 40px;

  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  color: $color-2;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  border-bottom: 1px solid rgba(63, 78, 101, 0.2);

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .catalogBlock {
    color: $color-2;
  }
}

.logo {
  width: 97px;
  height: 41px;
}
