$color-1: #111111;
$color-2: #3f4e65;
$color-3: #6cd0e9;
$color-4: #5eb9ff;
$color-5: #ffc85e;
$color-6: #ffc85e;
$color-7: #f3a50d;

$color-8: #ededed;
$color-9: #ffffff;

$color-10: #fae6c3;

$width-container: 1366px;

$width-tablet: 1080px;
$width-mobile: 860px;
